name: Deploy Static Site

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "Deploying to GitHub Pages..."
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4
        with:
          branch: main
          folder: .